/* Latin */
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(../font/roboto.woff2) format('woff2');
}

:root {
    /* WCAG Color Contrast:       #000 |  #FFF */
    --black: #000;          /*  1.00 | 21.00 */
    --white: #fff;          /* 21.00 |  1.00 */
    --blue: #6060ff;        /*  4.61 |  4.55  */
    --blue-hover: #5050ff;  /*  3.93 |  5.34  */
    --bg: #000;             /*  1.00 | */
    --fg: #e4e4e4;          /* 16.51 */
    --gray: #888890;        /*  5.97 | */
    --gray-border: #383840; /*  1.80 | */
    --gray-input: #181820;  /*  1.19 | */
    --radius: .375rem;
    --border: .0625rem solid var(--gray-border);
}

::selection {
    color: var(--white);
    background-color: var(--blue);
}

/* ----- General ----- */
p,
h1,
h2,
body,
menu,
input,
button,
textarea {
    all: unset;
}

body,
body * {
    display: flex;
    box-sizing: border-box;
}

html,
body {
    flex-direction: column;
    align-items: center;
    direction: ltr;
    touch-action: manipulation;
    user-select: none;
    color: var(--fg);
    background-color: var(--bg);
    font: 400 16px -apple-system, BlinkMacSystemFont, Roboto, 'Roboto', Helvetica, Arial, sans-serif;
    height: 100%;
}

/* --- Inputs --- */
input,
textarea {
    cursor: default;
    background-color: var(--gray-input);
    border-radius: var(--radius);
    width: 100%;
    padding: 0 .625rem;
}

input:focus,
textarea:focus {
    cursor: text;
}

::placeholder {
    color: var(--gray);
}

/* --- Buttons --- */
.btn,
input,
nav button,
menu button {
    align-items: center;
    border-radius: var(--radius);
    height: 2.5rem;
}

button:hover,
button:focus-visible {
    color: var(--white);
}

.btn,
nav button:hover,
menu button:hover,
nav button:focus-visible,
menu button:focus-visible {
    background-color: var(--blue);
}

/* --- Filled buttons --- */
.btn {
    color: var(--white);
    width: 100%;
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--blue-hover);
}

.red {
    background-color: var(--red);
}

.red:hover,
.red:focus-visible {
    background-color: var(--red-hover);
}

/* --- Buttons that act as link --- */
.a {
    color: var(--blue);
}

.a:hover,
.a:focus-visible {
    color: var(--blue-hover);
}

/* --- Images --- */
img,
svg,
#sn div {
    pointer-events: none;
}

img {
    border-radius: var(--radius);
}

svg {
    aspect-ratio: 1/1;
    fill: var(--gray);
}

button img {
    width: 1.5rem;
    margin: .5rem;
}

button svg {
    width: 1.25rem;
    margin: .625rem;
}

button:hover svg,
button:focus-visible svg {
    fill: var(--white);
}

/* --- Classes --- */
#sn,
#sn div,
.hidden,
nav input,
#home svg,
.search h1,
.back #home img,
::-webkit-scrollbar,
#search > :last-child,
.search #search > :first-child {
    display: none;
}

.btn,
.center {
    justify-content: center;
    align-items: center;
}

/* ----- Nav ----- */
nav {
    position: fixed;
    align-items: center;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100%;
    height: 3.0625rem;
    padding: .25rem;
    left: 0;
}

nav button {
    justify-content: center;
    width: 2.5rem;
}

h1,
nav input {
    margin: 0 .25rem;
}

h1 {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    font-size: 1.0625rem;
    height: fit-content;
}

/* --- Search --- */
.search input,
.back #home svg,
.search #search > :last-child {
    display: flex;
}

/* ----- Menu ----- */
menu {
    position: absolute;
    flex-direction: column;
    overflow: hidden auto;
    background-color: var(--bg);
    width: 12rem;
    padding: .25rem;
    top: 0;
}

menu:not(#sn) {
    border-radius: var(--radius);
    border: var(--border);
    right: 0;
}

menu button {
    justify-content: flex-start;
    color: var(--fg);
    width: 100%;
}

/* ----- Side nav (menu) ----- */
#sn {
    position: fixed;
    overflow: visible;
    border-right: var(--border);
    height: 100%;
    left: 0;
}

.sn {
    padding-left: 12rem;
}

.sn nav {
    padding-left: 12.25rem;
}

.sn #sn,
.sn #sn div {
    display: flex;
}

/* ----- Desktop layout ----- */
@media screen and (min-width: 512px) {
    body {
        padding-left: 3.0625rem;
    }
    
    nav {
        padding-left: 3.3125rem;
    }

    .search #bn,
    #bn [data-f="_C"] {
        display: none;
    }

    #sn {
        display: flex;
        width: 3.0625rem;
    }

    .sn #sn {
        width: 12rem;
    }
}

/* ----- Mobile layout ----- */
@media screen and (max-width: 512px) {
    h1 {
        text-align: center;
    }

    #bn {
        position: fixed;
        background-color: var(--bg);
        border-top: var(--border);
        width: 100%;
        height: 3.0625rem;
        padding: .25rem;
        bottom: 0;
        left: 0;
    }

    #bn button {
        width: 20%;
    }

    #sn {
        width: 100%;
        border-right: none;
    }

    main {
        padding-bottom: 3.5rem;
    }
}

/* ----- Main ----- */
main {
    flex-direction: column;
    align-items: center;
    max-width: 33.75rem;
    width: calc(100% - 1.5rem);
    min-height: 100%;
    padding-top: 3.5rem;
}

/* ----- Form ----- */
.f {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.f > * {
    margin: .125rem 0;
}

.f div {
    color: var(--gray);
}














