/* Latin */
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(../font/roboto.woff2) format('woff2');
}

:root {
    /* WCAG Color Contrast:       #000 |  #FFF */
    --white: #fff;          /* 21.00 |  1.00 */
    --black: #000;          /*  1.00 | 21.00 */
    --blue: #6060ff;        /*  4.61 |  4.55  */
    --blue-hover: #5050ff;  /*  3.93 |  5.34  */
    --fg: #e4e4e4;          /* 16.51 */
    --bg: #000;             /*  1.00 | */
    --gray: #888890;        /*  5.97 | */
    --gray-border: #383840; /*  1.80 | */
    --gray-input: #181820;  /*  1.19 | */
    --radius: .375rem;
    --border: .0625rem solid var(--gray-border);
}

::selection {
    color: var(--white);
    background-color: var(--blue);
}

p,
h1,
h2,
body,
menu,
input,
button,
textarea {
    all: unset;
}

body,
body * {
    display: flex;
    box-sizing: border-box;
}

html,
body {
    flex-direction: column;
    align-items: center;
    direction: ltr;
    touch-action: manipulation;
    user-select: none;
    color: var(--fg);
    background-color: var(--bg);
    font: 400 16px -apple-system, BlinkMacSystemFont, Roboto, 'Roboto', Helvetica, Arial, sans-serif;
    height: 100%;
    /* min-height: fit-content; */
}

input,
textarea {
    cursor: default;
    background-color: var(--gray-input);
    border-radius: var(--radius);
    width: 100%;
    height: 2.5rem;
    padding: 0 .625rem;
}

input:focus,
textarea:focus {
    cursor: text;
}

::placeholder {
    color: var(--gray);
}

img,
svg {
    pointer-events: none;
}

img {
    border-radius: var(--radius);
}

svg {
    aspect-ratio: 1/1;
    fill: var(--gray);
}

.hidden,
[data-f='_B'],
.back #home img,
::-webkit-scrollbar,
main:not(:last-of-type),
body:not(.back) #home svg {
    display: none;
}

.btn,
.center {
    justify-content: center;
    align-items: center;
}

/* ----- Buttons ----- */
.btn,
nav button,
menu button {
    align-items: center;
    border-radius: var(--radius);
    height: 2.5rem;
}

button:hover,
button:focus-visible {
    color: var(--white);
}

.btn,
menu button:hover,
menu button:focus-visible {
    background-color: var(--blue);
}

button img {
    width: 1.5rem;
    margin: .5rem;
}

button svg {
    width: 1.25rem;
    margin: .625rem;
}

button:hover svg,
button:focus-visible svg {
    fill: var(--white);
}

/* --- Filled buttons --- */
.btn {
    color: var(--white);
    width: 100%;
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--blue-hover);
}

.red {
    background-color: var(--red);
}

.red:hover,
.red:focus-visible {
    background-color: var(--red-hover);
}

/* --- Buttons that act as link --- */
.a {
    color: var(--blue);
}

.a:hover,
.a:focus-visible {
    color: var(--blue-hover);
}

/* ----- Nav ----- */
nav {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100%;
    height: 3rem;
    padding: 0 .25rem;
}

nav > div {
    align-items: center;
    width: calc(50% - 17.125rem);
    min-width: 12.5rem;
}

#bnav {
    justify-content: flex-end;
}

h1 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    height: fit-content;
}

nav button {
    justify-content: center;
    width: 2.5rem;
}

nav input {
    max-width: 33.75rem;
    width: calc(100% - 25.5rem);
}

/* ----- Menu ----- */
menu {
    flex-direction: column;
    position: absolute;
    overflow: hidden auto;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--radius);
    width: 13.0625rem;
    padding: .25rem;
}

menu button {
    justify-content: flex-start;
    width: 100%;
}

/* --- Nav menu --- */
nav menu {
    position: fixed;
    border-right: none;
    border-radius: var(--radius) 0 0 var(--radius);
    max-height: calc(100% - 2.96875rem);
    top: 2.96875rem;
    right: 0;
}

/* ----- Main ----- */
main {
    flex-direction: column;
    align-items: center;
    max-width: 34.75rem;
    width: 100%;
    min-height: 100%;
    padding: 3rem .5rem 0 .5rem;
}

/* ----- Mobile ----- */
@media screen and (max-width: 540px) {
    nav input,
    .search h1 {
        display: none;
    }

    [data-f='_B'],
    .search nav input {
        display: flex;
    }

    h1,
    nav input {
        position: absolute;
        width: calc(100% - 6rem);
        margin: 0 2.75rem;
    }

    h1 {
        text-align: center;
    }

    nav > div {
        width: 2.5rem;
        min-width: 0;
    }

    #bnav {
        position: fixed;
        border-top: var(--border);
        width: 100%;
        height: 3rem;
        padding: 0 .25rem;
        bottom: 0;
        left: 0;
    }

    #bnav button {
        width: 20%;
    }

    nav menu {
        max-height: calc(100% - 5.9375rem);
    }

    main {
        padding: 3rem .5rem;
    }
}

/* ----- Form ----- */
form {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form > * {
    margin: .125rem 0;
}

form div {
    color: var(--gray);
}














